######################################
# ENV
######################################
.env
.env.*
*.env

######################################
# VIRTUAL ENV
######################################
agentic_venv/
.agentic_venv/
ENV/
env/

######################################
# PYTHON CACHE
######################################
__pycache__/
*.py[cod]
*$py.class

######################################
# LOGS
######################################
*.log